<h1>Contact Page</h1>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    
</ul>

<form method="POST" action="send">
    <div class="row">
        <div class="six columns">
            <label for="exampleNameInput">Your name</label>
            <input name="userName" class="u-full-width" type="text" placeholder="Your name" id="exampleNameInput">
        </div>
        <div class="six columns">
            <label for="exampleEmailInput">Your email</label>
            <input name="userEmail" class="u-full-width" type="email" placeholder="test@mailbox.com" id="exampleEmailInput">
        </div>
    </div>
    <label for="exampleMessage">Message</label>
    <textarea name="userText" class="u-full-width" placeholder="Hi Dave …" id="exampleMessage"></textarea>

    <input class="button-primary" type="submit" value="Submit">
</form>